@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Tinos:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body{
    padding: 20px;
    background-color: #FFF5E1;
    font-family: 'Montserrat';
}

header{       
    display: flex;
    justify-content:space-evenly;
    align-items:center;    
    padding: 25px;    
    background-color: #FFF5E1;
    padding-top: 25px;                        
}



nav ul {
    display: flex; /* Deixa os itens em linha */
    list-style-type: none; /* Remove o ponto dos itens */
    padding: 0; /* Remove o padding padrão */
    justify-content: center;
    padding-top: 20px;
}

nav ul li {
    margin-right: 15px; /* Espaçamento entre os itens */
}

nav ul a {
    text-decoration: none !important;/* Remove o sublinhado */
    color: #000; /* Altere para a cor desejada */
}

nav ul a:hover {
    color: rgb(255, 0, 170); /* Altere a cor para o efeito hover desejado */
    transform: scale(1.1);
}

header img{
    height: 60px;       
}

.social{    
    display: flex;
    flex-direction: row;    
    gap: 10px;        
}

.social img{
    height: 25px;      
}

.social img:hover{
    transform: scale(1.1);
}

main{  
    display: flex;
    flex-direction: column;
    align-items:center;    
    text-align: justify;
    line-height: 1.5;
    width: 80%; /* ou outra largura fixa */
    max-width: 800px; /* ou o valor que você preferir */
    margin: 0 auto; /* centraliza horizontalmente */
}

main h2{
    text-align:start;
}

footer{
    padding: 20px;
    text-align: center;    
    margin-top: 20px;   
}

*{
    box-sizing: border-box;
}

@media (max-width: 768px) {
    nav ul {
        flex-direction: column; /* Empilha os itens verticalmente */
        text-align: center;
    }

    /* Ajuste de tamanhos e margens para tablets */
    nav ul li {
        margin: 10px 0;
    }

    /* Ajusta o tamanho do texto, imagens e contêineres */
    body {
        font-size: 0.9em;
    }
}

/* Layout responsivo para smartphones (largura máxima de 480px) */
@media (max-width: 480px) {
    nav ul {
        flex-direction: column;
    }

    /* Reduz o tamanho do texto e melhora o espaçamento em telas menores */
    body {
        font-size: 0.8em;
    }

    /* Ajuste de imagens e elementos */
    img {
        max-width: 100%;
        height: auto;
    }
}



